.galleryContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem 3rem;
}

.buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttonContainer button {
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all .3s;
}

button.activeButton {
    color: #fff;
    background: var(--nav-colour);
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
}

.photoGrid img {
    transition: all .3s;
    max-width: 100%;
}

.photoGrid img:hover {
    scale: 1.09;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photoGrid img.show {
    opacity: 1;
    transform: scale(1);
}