/* Gallery.module.css */

.galleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
}

.buttonContainer {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.button {
    background-color: #808080;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.button:hover, .activeButton {
    background-color: #862B33;
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    width: 100%;
}

.imgContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.imgContainer img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.imgContainer:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.imgContainer:hover img {
    transform: scale(1.1);
}