section {
    height: fit-content;
    position: relative;
    margin-bottom: 2rem;
}

.index {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.index .img {
    position: relative;
    width: 100%;
}

.index img {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
}

.custom-shape-divider-bottom-1740212333 {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1740212333 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1740212333 .shape-fill {
    fill: #FFF;
}

.secondary-links {
    height: fit-content;
    width: 100%;
    position: sticky;
    top: var(--header-height, 0px);
    z-index: 4;
    padding: 1rem clamp(1rem, 2vw, 3rem);
    background: #fff;
}

.secondary-links ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    white-space: nowrap;
    list-style: none;
}

.secondary-links ul a {
    text-decoration: none;
    color: #000;
}

.secondary-links a.active {
    color: rgb(112, 225, 23);
    font-weight: bold;
}

.principle-msg,
.chairman-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #000;
}

section h1 {
    color: #000;
    text-align: center;
    position: relative;
    font-size: clamp(1.25rem, 10vw, 4rem);
}

section h1::before {
    content: '';
    height: 6px;
    width: 60%;
    bottom: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(112, 225, 23);
}

.msg {
    height: 100%;
    width: 80%;
}

.msg img {
    margin: 50px 20px 20px 70px;
    height: clamp(100px, 20vw, 300px);
    width: clamp(100px, 20vw, 300px);
    object-fit: cover;
    float: left;
    border-radius: 50%;
    shape-outside: circle();
}

.msg p {
    text-align: justify;
    line-height: 20px;
}

.chairman-msg img {
    float: right;
}

.know-us {
    flex-direction: column;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.know-us img {
    width: 80vw;
}

.know-us p, .our-goals p{
    color: #000;
    text-align: justify;
    line-height: 20px;
    padding: clamp(10px, 5vw, 4rem);
}

@media only screen and (max-width: 768px) {
    nav ul li {
        display: none;
    }

    .ham-burger {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .secondary-links{
        display: none;
    }
}